@import "variables";
@import "variables-dark";

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
@import "custom/structure/reset";

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
@import "custom/structure/main";
@import "custom/structure/header";
@import "custom/structure/nav";
@import "custom/structure/container";
@import "custom/structure/section";

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import "custom/pages/hero";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "custom/components/buttons";

/*--------------------------------------------------------------
# Structe
--------------------------------------------------------------
@import "custom/components/card";

@import "custom/structure/header";
@import "custom/structure/nav";
@import "custom/structure/section";

//@import "custom/structure/topbar";
//@import "custom/structure/navbar";
//@import "custom/structure/footer";



/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------
@import "custom/helpers/typography";
*/

.tx-center {
    text-align: center;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.c-d946ef {
    color: #d946ef;
    font-weight: 600;
}
