/* ###### 9.1 Background  ###### */
$black: #000;

.bg-none { background-color: transparent !important; }
.bg-size-cover { background-size: cover !important; }
.bg-color-black { background-color: $black !important; }

